@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities

@model GalleryViewModel
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Image Gallery";
    Layout = "_Layout";

}
<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/GalleryStyleSheet.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <h1>Image Gallery</h1>
            <p>Welcome in your gallery, @UserManager.GetUserName(User)</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
                @foreach (var galleryItem in Model.GalleryItems)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card" style="width: auto;">
                            <div class="hover hover-2 text-white rounded">
                                <img class="card-img-top img-fluid" src="@galleryItem.Url" alt="@galleryItem.Title" />
                                <a href="@galleryItem.Url">
                                    <div class="hover-overlay"></div>
                                </a>
                                <div class="hover-2-content px-5 py-0">
                                    <p class="hover-2-description text-uppercase mb-0">@galleryItem.DateAdded</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Title: @galleryItem.Title</p>
                                <p class="card-text">Description: @galleryItem.Description</p>
                                <p class="card-text">Tags: @galleryItem.Tags</p>
                                @using (Html.BeginForm("DeletePicture", "Gallery", new { pictureId = @galleryItem.Id }))
                                {
                                    <button class="btn btn-primary btn-sm" type="submit">Delete</button>
                                }
                            </div>
                        </div>
                    </div>

                }
        </div>
    </div>

    <div class="panel-footer add-picture-form">
        @await Html.PartialAsync("_AddPicturePartial", new GalleryItemViewModel())
    </div>
</body>
</html>
